<!DOCTYPE html>
<html>
  <head>
    <title>QuickNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-pills justify-content-left">
      <li class='nav-link'>
        <%= button_to "Home", root_path, method: :get %>
      </li>
      <li class='nav-link'>
        <%= button_to "New Note", new_note_path, method: :get %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
